:root {
  --background: #2b2b2b;
  --background-secondary: #373737;
  --background-tertiary: #444444;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --foreground: #ededed;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
}

.container__app {
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  padding: 10px 15px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
