.card {
  border-radius: 12px;
  padding: 24px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.219;
  margin-bottom: 20px;
}
