.container-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-section__title {
  font-weight: 400;
}

.container-section__center {
  justify-content: center;
  align-items: center;
}

.container-section__end {
  align-items: end;
}
