.button {
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.172;
  padding: 9.97px 44px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 250ms ease;
}

.button-default {
  background: linear-gradient(90deg, #c6964d 0%, #604925 100%);
  background-size: 125% auto;
  background-position: 0 0;
  transition: all 250ms ease;

  &:hover {
    background-position: 100% 0;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.button-secondary {
  background-color: #59bd56;

  &:hover {
    background-color: #4ea54b;
  }

  &:active {
    opacity: 0.8;
  }
}
